.orange{
    background: orange;
}
.blue{
    background: blue;
}
.red{
    background: red;
}
.purple{
    background: purple;
}
.green{
    background: green;
}
.violet{
    background: violet;
}

.bold{
    font-weight: bold;
}